* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.main {
    position: absolute;
    background-image: url(./media/main.png);
    height: 782px;
    width: 100%;
    background-repeat: no-repeat;
}

.main::before {
    width: 1440px;
    height: 782px;
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
}

.main-navbar {
    position: absolute;
    height: 100px;
    top: 17px;
    padding: 55px 165px;
}

.main-navbar-text {
    position: absolute;
    width: 445px;
    height: 22px;
    left: 498px;
    top: 58px;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-navbar-lang-select {
    position: absolute;
    width: 96px;
    height: 32px;
    left: 1056px;
    top: 54px;
}

.main-navbar-button {
    position: absolute;
    width: 100px;
    height: 40px;
    left: 1172px;
    top: 50px;
}

.main-body-title {
    position: absolute;
    width: 578px;
    height: 86px;
    left: 431px;
    top: 257px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-body-desk {
    position: absolute;
    width: 500px;
    left: 450px;
    top: 382px;
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.main-body-button {
    position: absolute;
    width: 160px;
    height: 50px;
    left: 640px;
    top: 545px;
}


/* video-section */

.video-section {
    position: absolute;
    height: 500px;
    width: 100%;
    top: 782px;
    background: #FFFFFF;
}

.video-section-video {
    position: absolute;
    width: 445px;
    height: 311px;
    left: 735px;
    top: 94px;
}

.video-section-play {
    position: absolute;
    width: 66px;
    height: 66px;
    left: 702px;
    top: 217px;
}

.video-section-title {
    position: absolute;
    width: 445px;
    height: 107px;
    left: 165px;
    top: 140px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
}

.video-section-desk {
    position: absolute;
    width: 445px;
    height: 115px;
    left: 165px;
    top: 271px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}

.video-section-more {
    position: absolute;
    width: 100px;
    height: 20px;
    left: 165px;
    top: 370px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 20px */
    text-align: justify;
    color: #ED4C5C;
}